@viewport {
	width: device-width;
	zoom: 1.0;
}

.navi li:hover {
	background-color: #281a1a;
}


@media screen and (max-width: 800px) {
	.icon-bar a {
		font-size: 100%;
	}

	.name h1{
		font-size: 200%;
	}
	
	.name h2{
		font-size: 125%;
	}
	
	.name h3{
		font-size: 125%;
	}

	.nav-items {
		font-size: 85%;
		padding: 0.2em;
	}

	.nav-items.dropdown {
		font-size: 85%;
		padding: 0.2em;
	}

	.dropdown-content {
		font-size: 80%;
		width: 25vw;
	}

	.body h3{
		font-size: 125%;
	}
	.body h4{
		font-size: 100%;
	}

	.body h5{
		font-size: 100%;
	}
	p {
		font-size: 100%;
	}

	figcaption {
		font-size: 100%;
	}

	#mobile {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.photo {
		width: 80vw;
	}
	.photoleft {
		width: 80vw;
	}
	#cv-text {
		text-align: center;
		font-size: 100%;
	}
	li {
		font-size: 100%;
	}

	.navi {
		padding-top: 1.5vw;
		padding-bottom: 1.5vw;
		padding-right: 1vw;
		padding-left: 1vw;
		margin-left: -2vw;
		margin-right: -2vw;
	}
	video {
		display: block;
		width: 80vw;
	}
	
	iframe {
		width: 80vw;
		height: 50vw;
	}

	.dropdown-content.activated {
		display: block;
	}

	.website-ex {
		width: 80vw;
		align-items: center;
		margin-bottom: 5vh;
	}
}

@media screen and (min-width: 801px) {
	.icon-bar a {
		font-size: 125%;
	}

	.name h1{
		font-size: 300%;
	}
	
	.name h2{
		font-size: 200%;
	}
	
	.name h3{
		font-size: 175%;
	}

	.nav-items {
		font-size: 125%;
		padding: 0.75em;
	}

	.nav-items.dropdown {
		font-size: 125%;
		padding: 0.75em;
	}

	.dropdown-content {
		font-size: 80%;
		width: 15vw;
	}

	.body h3{
		font-size: 200%;
	}

	.body h4{
		font-size: 150%;
	}

	.body h5{
		font-size: 125%;
	}

	p {
		font-size: 125%;
	}

	figcaption {
		font-size: 125%;
	}

	.photo {
		width: 25vw;
	}
	.photoleft {
		width: 25vw;
	}
	#cv-text {
		text-align: center;
		font-size: 150%;
	}
	li {
		font-size: 125%;
	}

	.navi {
		padding-top: 0.75vw;
		padding-bottom: 0.75vw;
		margin-left: -0.75vw;
		margin-right: -0.75vw;
	}
	video {
		display: block;
		width: 50vw;
	}
	
	iframe {
		width: 50vw;
		height: 30vw;
	}

	.website-ex {
		width: 90%;
	}

	.dropdown:hover .dropdown-content { /* Was .dropdown:hover .dropdown-content */
		display: block;
	}

	/* Change color of dropdown links on hover */
	.dropdown-content li:hover {
		background-color: #ddd;
	}
	
	.wrapper {
		margin-bottom: 5%;
	}

	.wrapper2 {
		margin-bottom: 5%;
	}

	#figadj1 {
		margin-right: 7.5%;
	}

	#figadj2 {
		margin-left: 7.5%;
	}
}

.wrapper {
	display: grid;
	align-items: center;
	justify-content: space-between;
	grid-template-columns: 3fr 1fr;
}

.wrapper2 {
	display: grid;
	align-items: center;
	justify-content: space-between;
	grid-template-columns: 1fr 3fr;
}

body {
	background: #1a1a1a;
	padding-bottom: 1vw;
	margin-top: 1vw;
	color: #FFFFFF;
}

main {
	margin-right: 3vw;
	margin-left: 1vw;
}

figcaption {
	display: block;
	text-align: center;
	margin-top: 3vh;
	margin-bottom: 7vh;
	font-family: "Optima","Arial", sans-serif;
}

a:link {
	color: #f7d1d1;
	text-decoration: none;
}

a:visited {
	color: #f4e9a9;
	text-decoration: none;
}

.icon-bar {
	position: fixed;
	top: 50%;
	right: 0%;
	transform: translateY(-50%);
	z-index: 5;
}
  
.icon-bar a {
	display: block;
	text-align: center;
	padding: 1em;
	transition: all 1.0s ease;
	color: white;
}
  
.icon-bar a:hover {
	background-color: #000;
}
  
.github {
    background: #000000;
    color: white;
}

.spotify {
    background: #1DB954;
    color: white;
}

.linkedin {
    background: #0072b1;
    color: white;
}

.university {
    background: #9BCBEB;
    color: white;
}

.facebook {
	background: #3B5998;
	color: white;
}
  
.twitter {
	background: #55ACEE;
	color: white;
}
  
.google {
	background: #dd4b39;
	color: white;
}
  
.wikipedia {
	background: grey;
	color: white;
}
  
.youtube {
	background: #bb0000;
	color: white;
}

.name {
	padding: 1vw;
	background: -webkit-linear-gradient(#eee, rgb(145, 41, 41));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-left: 1vw;
	margin-right: 1vw;
	transition: all 2s ease;
	opacity: 0;
	transform: translateX(-20em);
	font-family: 'Geneva', 'Trebuchet MS', 'Verdana', 'sans-serif';
}

.name.show {
	opacity: 1;
	transform: translateX(0);
}

.name h2{
	margin-top: -1vw;
}

.navi {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #000000;
	transition: all 1s ease;
	opacity: 0;
}

.navi.show {
	opacity: 1;
}

.nav-items {
    display: inline;
    font-weight: bold;
    text-transform: uppercase;
	color: #FFFFEE;
}	

.nav-items a{
	/* transition: all 0.5 ease; */
	color: rgb(49, 100, 49);
}

.nav-items a:visited{
	color: rgb(102, 132, 114);
	text-decoration: none;
}

.nav-items a:hover{
	/* background-color: #55ACEE; */
	color: rgb(145, 66, 66);
}

.nav-items a:focus{
	color: rgb(145, 66, 66);
}

.nav-items a:active{
	color: #FFFFFF;
}

.body{
	padding-bottom: 1vw;
	padding-left: 1vw;
	padding-right: 1vw;
}

.name h3{
	margin-bottom: 0vw;
}

.body h3{
	color:rgb(144, 71, 71);
	transition: all 2s ease;
	opacity: 0;
	transform: translateX(-2em);
	font-family: 'Geneva', 'Trebuchet MS', 'Verdana', 'sans-serif';
}

.body h3.show {
	opacity: 1;
	transform: translateX(0);
}

.body h4{
	color:#8bc3ee;
	transition: all 2s ease;
	opacity: 0;
	transform: translateY(2em);
}

.body h4.show {
	opacity: 1;
	transform: translateY(0);
}

.body h5{
	transition: all 2s ease;
	opacity: 0;
	transform: translateY(2em);
}

.body h5.show {
	opacity: 1;
	transform: translateY(0);
}

figcaption {
	transition: all 2s ease;
	opacity: 0;
	transform: translateY(2em);
}

figcaption.show {
	opacity: 1;
	transform: translateY(0);
}

p {
	font-family: "Optima","Arial", sans-serif;
	line-height: 1.5;
	transition: all 2s ease;
	opacity: 0;
	transform: translateY(2em);
}

p.show {
	opacity: 1;
	transform: translateY(0);
}

li {
	font-family: "Optima","Arial", sans-serif;
	line-height: 1.5;
}

ul :not(.nav-items) {
	transition: all 2s ease;
	opacity: 0;
	transform: translateY(2em);
}

ul.show :not(.nav-items) {
	opacity: 1;
	transform: translateY(0);
}

li li {
	font-size: 100%;
}

.photo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1vw;
	border: 1em solid rgb(102, 132, 114); 
	transition: all 2s ease;
	opacity: 0;
	transform: translateX(4em);
}

.photo.show {
	opacity: 1;
	transform: translateX(0);
}

.photoleft {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1vw;
	border: 1em solid rgb(102, 132, 114); 
	transition: all 2s ease;
	opacity: 0;
	transform: translateX(-4em);
}

.photoleft.show {
	opacity: 1;
	transform: translateX(0);
}

#construct {
	color: rgb(255, 170, 0);
}

audio, video, iframe {
	transition: all 2s ease;
	opacity: 0;
	transform: translateX(-4em);
}

audio.show, video.show, iframe.show {
	opacity: 1;
	transform: translateX(0);
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline;
	background-color: #000000;
	padding: 1vw;
	font-size: 100%;
	border: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #000000;
	top: 100%;/* use this */
	z-index: 1;
	padding: 0;
	margin: 0;
	padding-top: 1em;
	padding-bottom: 1vh;
}

/* Links inside the dropdown */
.dropdown-content li {
	padding: 1vw;
	text-decoration: none;
	display: block;
	margin: 0;
}

